.address {
  padding: 29px 0 25px;
}

.address__wrapper {
  @include container;
  display: flex;
  justify-content: space-between;
}

.address__title {
  @include font-weight-normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  max-width: 140px;

  @include tablet {
    font-size: 20px;
    line-height: 22px;
  }
}

.address__text {
  @include arial-text;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  max-width: 140px;

  @include tablet {
    font-size: 16px;
    line-height: 20px;
  }
}

.address__street {
  @include reset-indents;
}

.address__city {
  @include reset-indents;
}
