.address {
  display: flex;
  background-color: #f2f2f2;
  padding: 29px 0 23px;

  @include desktop {
    background-color: #ffffff;
  }
}

.address__wrapper {
  @include container;
  display: flex;
  justify-content: space-between;
}

.address__title {
  @include font-weight-normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.address__text {
  margin: 0;

  @include arial-text-mob;
  line-height: 20px;
}
