.comment {
  @include reset-indents;
  border: none;
}

.comment__title {
  @include font-weight-normal;
  font-size: 24px;
  line-height: 26px;
  color: #000000;

  @include tablet {
    font-size: 36px;
    line-height: 36px;
  }
}

textarea {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  border: 1px solid #e7e7e7;
  width: 100%;
  min-height: 150px;
  resize: none;


  @include tablet {
    font-size: 20px;
    line-height: 30px;
    min-height: 174px;
  }
}
