.contacts {
  @include reset-indents;
  border: none;
}

.contacts__title {
  @include font-weight-normal;
  font-size: 24px;
  line-height: 26px;
  color: #000000;

  @include tablet {
    font-size: 36px;
    line-height: 36px;
  }
}

.contacts__item {
  display: flex;
  font-size: 16px;
  line-height: 18px;
  color: #444444;

  @include tablet {
    font-size: 20px;
    line-height: 30px;
  }
}

.contacts__item input {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  border: 1px solid #cdcdcd;
  height: 45px;
  width: 100%;
}
