.example {
  background-color: #eaeaea;
  padding-bottom: 36px;
}

.example__wrapper {
  @include container;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.example__title {
  @include reset-indents;
  margin-bottom: 32px;
  padding-top: 27px;
  font-size: 36px;
  line-height: 40px;

  @include font-weight-normal;

  @include tablet {
    font-size: 60px;
    line-height: 60px;
    padding: 0;
    margin-bottom: 64px;
  }

  @include desktop {
    margin-bottom: 147px;
    padding-top: 60px;
  }
}

.example__text {
  @include arial-text;
  @include reset-indents;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin-bottom: 25px;

  @include tablet {
    font-size: 16px;
    line-height: 24px;
    margin: 0 10px 53px 0;
  }
}

.example__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 33px;

  @include tablet {
    width: 52%;
  }
}

.example__item {
  position: relative;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  width: 124px;
  text-align: center;
  padding: 14px 0 17px;

  @include tablet {
    width: 162px;
    padding: 14px 0 19px;
  }
}

.example__unit {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;

  @include tablet {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__desc {
  @include arial-text;
  position: absolute;
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  top: 47px;
  left: 21px;
  margin-right: 20px;
  background-color: #eaeaea;

  @include tablet {
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    top: auto;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    white-space: nowrap;
    padding: 8px;
  }
}

.example__price {
  @include reset-indents;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 42px;

  @include tablet {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 30px;
    min-height: 50px;
  }
}

.example__sample {
  @include tablet {
    margin: 0 auto;
  }
}

.example__slider {
  display: flex;
  align-items: flex-start;
  margin-bottom: 23px;
  height: 240px;

  @include tablet {
    align-items: flex-end;
    position: relative;
    height: 567px;
    overflow: hidden;
  }
}

.example__picture {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;

  & img {
    @include tablet {
      display: inline-block;
      vertical-align: middle;
      width: auto;
      height: 100%;
    }
  }
}

.example__picture--after {
  display: none;
}

.example__filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 33px 0 38px;
}

.example__button {
  @include Oswald-text;
  border: none;
  font-size: 16px;
  line-height: 20px;

  @include font-weight-normal;
  color: #000000;
  background-color: #eaeaea;
  text-transform: uppercase;

  @include tablet {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted #000000;
  }
}

.example__scale {
  position: relative;
  width: 84px;
  height: 14px;
  background: #ffffff;
  border-radius: 6px;
  border: 1px solid #cdcdcd;

  @include tablet {
    width: 428px;
    height: 6px;
    background: #cdcdcd;
    border: none;
  }
}

.example__bar {
  position: absolute;
  top: 3px;
  left: 2px;
  width: 35px;
  height: 6px;
  background: #68b738;
  border-radius: 6px;

  @include tablet {
    position: relative;
    top: -14px;
    left: 197px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #ffffff;
    border: 1px solid #cdcdcd;

    &::before {
      position: absolute;
      top: 12px;
      left: 12px;
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #68b738;
    }
  }
}
