.example {
  background-color: #eaeaea;
}

.example__wrapper {
  @include container;
}

.example__title {
  @include reset-indents;
  margin: 28px 0 32px 0;
  font-size: 36px;
  line-height: 40px;

  @include font-weight-normal;
}

.example__text {
  @include arial-text-mob;
  @include reset-indents;
  margin-bottom: 25px;
}

.example__list {
  display: flex;
  justify-content: space-between;
}

.example__item {
  position: relative;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  width: 124px;
  text-align: center;
  padding: 15px 0 20px;
  margin-bottom: 28px;
}

.example__unit {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
}

.example__desc {
  position: absolute;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  top: 47px;
  left: 21px;
  margin-right: 20px;
  background-color: #eaeaea;
}

.example__price {
  @include reset-indents;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 36px;
}

.example__filter {
  display: flex;
}

.example__button {
  font-family: "Oswald", sans-serif;
  border: none;
  font-size: 16px;
  line-height: 20px;

  @include font-weight-normal;
  color: #000000;
  background-color: #eaeaea;
  text-transform: uppercase;

  @include tablet {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted #000000;
  }
}

.example__img--after {
  display: none;
}

.example__scale {
  position: relative;
  width: 84px;
  height: 14px;
  background: #ffffff;
  border-radius: 6px;
  border: 1px solid #cdcdcd;

  @include tablet {
    width: 428px;
    height: 6px;
    background: #cdcdcd;
    border: none;
  }
}

.example__bar {
  position: absolute;
  top: 3px;
  left: 2px;
  width: 35px;
  height: 6px;
  background: #68b738;
  border-radius: 6px;

  @include tablet {
    position: relative;
    top: -14px;
    left: 197px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #ffffff;
    border: 1px solid #cdcdcd;

    &::before {
      position: absolute;
      top: 12px;
      left: 12px;
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #68b738;
    }
  }
}
