.form-block__wrapper {
  @include container;
  @include form-tablet-indent;
}

.form-block__title {
  @include reset-indents;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  padding-top: 29px;
  margin-bottom: 37px;

  @include font-weight-normal;

  @include tablet {
    font-size: 60px;
    line-height: 60px;
    padding-top: 26px;
    margin-bottom: 54px;
  }

  @include desktop {
    padding-top: 59px;
  }
}

.form-block__text {
  @include reset-indents;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  width: 85%;
  margin-bottom: 39px;

  @include tablet {
    font-size: 20px;
    line-height: 30px;
    width: 50%;
    margin-bottom: 67px;
  }

  @include desktop {
    width: 30%;
  }
}
