.information__wrapper {
  @include container;
}

.information__title {
  @include reset-indents;
  font-size: 36px;
  line-height: 40px;
  margin: 5px 0 28px 0;

  @include font-weight-normal;
}

.information__list {
  @include reset-indents;
  padding-bottom: 32px;
  list-style: none;
  display: flex;
  flex-direction: column;

  @include tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @include desktop {
    grid-template-columns: repeat(4, 1fr);
  }
}

.information__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.information__icon {
  width: 60px;
  height: 60px;
  background-color: #68b738;

  @include tablet {
    width: 80px;
    height: 80px;
  }
}

.information__text {
  @include arial-text-mob;
  width: calc(100% - 80px);
  margin: 14px 0 12px 0;
}
