.information__wrapper {
  @include container;
}

.information__title {
  font-size: 36px;
  line-height: 40px;

  @include font-weight-normal;
}

.information__list {
  @include reset;
  list-style: none;
}

.information__text {
  @include arial-text-mob;
}
