.information {
  padding-bottom: 42px;
}

.information__wrapper {
  @include container;
}

.information__title {
  @include reset-indents;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 38px;

  @include font-weight-normal;

  @include tablet {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 71px;
  }
}

.information__list {
  @include reset-indents;

  @include tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 79px 60px;
  }

  @include desktop {
    grid-template-columns: repeat(4, 1fr);
  }
}

.information__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  @include tablet {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 54px;
    background-repeat: no-repeat;
    margin-bottom: 0;

    &:nth-child(1) {
      background-image: url("../img/information/bg-1.png");
      background-size: 72px 227px;
      background-position: 125px 0;
    }

    &:nth-child(2) {
      background-image: url("../img/information/bg-2.png");
      background-size: 114px 229px;
      background-position: 121px 0;
    }

    &:nth-child(3) {
      background-image: url("../img/information/bg-3.png");
      background-size: 113px 227px;
      background-position: 123px 0;
    }

    &:nth-child(4) {
      background-image: url("../img/information/bg-4.png");
      background-size: 120px 228px;
      background-position: 125px 0;
    }
  }
}

.information__icon {
  width: 60px;
  height: 60px;
  background-color: #68b738;

  @include tablet {
    width: 80px;
    height: 80px;
    margin-bottom: 32px;
  }
}

.information__text {
  @include arial-text-mob;
  width: calc(100% - 80px);
  margin: 0;

  @include tablet {
    font-size: 16px;
    line-height: 24px;
    width: calc(100% - 65px);
  }
}
