.intro {
  width: 100%;
  background-image: url("../img/intro/test.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.intro__wrapper {
  @include container;
}

.intro__title {
  margin: 0;
  margin-bottom: 25px;
  padding-top: 27px;
  font-size: 36px;
  line-height: 36px;
  color: #000000;

  @include font-weight-normal;

  @include mobile-only {
    color: #ffffff;
    text-align: center;
  }

  @include tablet {
    font-size: 60px;
    line-height: 60px;
  }
}

.intro__text {
  margin: 0;
  margin-bottom: 29px;
  text-transform: uppercase;

  @include mobile-only {
    color: #ffffff;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
  }
}

.intro__button {
  @include button;
  margin-bottom: 22px;
}
