.map {
  background-image: url("../img/map/map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 100% 320px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map/map-mobile@2x.png");
  }

  @include tablet {
    background-image: url("../img/map/map-tablet@1x.png");
    background-repeat: no-repeat;
    background-size: 100% 399px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map/map-tablet@2x.png");
    }
  }

  @include desktop {
    background-image: url("../img/map/map-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: 100% 399px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map/map-desktop@1x.png");
    }
  }
}

.map iframe {
  width: 100%;

  @include tablet {
    height: 400px;
  }
}
