.page-header__wrapper {
  @include container-mob;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    @include container-tabl;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    @include container-desc;
  }
}

.page-header__logo {
  margin-top: 12px;
}
