.page-header__wrapper {
  display: flex;
  flex-direction: column;

  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-header__logo {
  padding: 0 20px;
  margin-top: 12px;
  margin-bottom: 14px;
}

