.parametres {
  @include reset-indents;
  border: none;
  margin-bottom: 24px;

  @include tablet {
    margin-bottom: 73px;
  }

  @include desktop {
    width: 49.6%;
  }
}

.parametres__item {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }

  @include tablet {
    font-size: 20px;
    line-height: 30px;
    margin: 0 36px 22px 0;
  }
}

.parametres__item label {
  margin-right: 13px;

  @include tablet {
    margin-right: 20px;
  }
}

.parametres__item input {
  @include Oswald-text;
  border: 1px solid #e7e7e7;
  height: 45px;
  width: 100%;
  text-transform: uppercase;
  color: #444444;
  font-size: 16px;
  line-height: 18px;
  padding-left: 15px;

  @include tablet {
    font-size: 20px;
    line-height: 30px;
    height: 50px;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border: 1px solid #444444;
    box-shadow: 0 0 0 2px #444444;
    outline: none;
  }

  &:invalid:focus {
    border-color: #ff8282;
    box-shadow: 0 0 0 2px #ff8282;
  }
}
