.personal-data__wrapper {
  @include container;

  @include desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.personal-data__footer {
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
  }
}

.personal-data__button {
  @include button;

  @include tablet {
    width: 40%;
    margin-right: 61px;
  }

  @include desktop {
    width: 50%;
  }
}

.personal-data__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-align: center;

  @include tablet {
    font-size: 16px;
  }
}
