.personal-data {
  margin-bottom: 31px;

  @include tablet {
    margin-bottom: 53px;
  }

  @include desktop {
    margin-bottom: 65px;
  }
}

.personal-data__wrapper {
  @include container;
  @include form-tablet-indent;

  @include desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.personal-data__footer {
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
  }

  @include desktop {
    width: 100%;
  }
}

.personal-data__button {
  @include button;
  margin-bottom: 19px;

  @include tablet {
    width: 42.5%;
    margin-right: 61px;
    font-size: 20px;
  }

  @include desktop {
    width: 46.6%;
    margin-right: 82px;
  }
}

.personal-data__text {
  @include arial-text;
  @include reset-indents;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-align: center;

  @include tablet {
    font-size: 16px;
    margin-top: 16px;
  }
}
