.program-selection__wrapper {
  @include container;
}

.program-selection__list {
  @include reset-indents;
  list-style: none;
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
  }
}

.program-selection__item {
  background-color: #f2f2f2;
}

.program-selection__text {
  margin: 0;

  @include arial-text-mob;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
}

.program-selection__title {
  text-align: center;
  text-transform: uppercase;
  margin: 0;

  @include font-weight-normal;
  font-size: 24px;
  line-height: 37px;
}

.program-selection__button {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  line-height: 16px;

  @include tablet {
    font-size: 20px;
    line-height: 30px;
  }
}
