@mixin reset-indents {
  margin: 0;
  padding: 0;
}

@mixin arial-text-mob {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

@mixin arial-text {
  font-family: "Arial", sans-serif;
}

@mixin Oswald-text {
  font-family: "Oswald", sans-serif;
}

@mixin arial-text-catalog {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

@mixin font-weight-normal {
  font-weight: 400;
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @include tablet {
    padding: 0 30px;
  }

  @include desktop {
    padding: 0 110px;
  }
}

@mixin button {
  display: block;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  background-color: #68b738;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

@mixin mobile-only {
  @media (max-width: 767px) {
    @content;
  }
}
